[Unit]
Description=OCTA 24x7 user target
Wants=octa-x11.service octa-ibkr.service octa-autologin.service octa-v000.service
After=octa-x11.service octa-ibkr.service octa-autologin.service
